.navbar {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 90px;
  height: 70px;
  margin-left: 50px;
  margin-right: 20px;
  text-align-last: left;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  text-decoration: none;
  justify-content: center;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  padding: 30px;
}
.links a:hover {
  transition: 0.3s ease-in;
  transform: scale(1.1);
  color: white;
}
